<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ql.recovery.yay">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 对于 Android 12.0 及以上设备，还需要添加如下权限：-->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <queries>
        <package android:name="com.facebook.katana" />
        <provider
            android:authorities="com.facebook.orca.provider.PlatformProvider"
            android:exported="false" />
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/custom_app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YAY"
        android:usesCleartextTraffic="true"
        tools:targetApi="31"
        tools:replace="android:label">

        <!--最大宽高比-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <meta-data
            android:name="android.max_aspect"
            android:value="ratio_float" />

        <!--google-->
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5193772326840199~2214827467" />

        <!--facebook-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <!--NIM-->
        <meta-data
            android:name="com.netease.nim.appKey"
            android:value="db7ef9b2ee547446080d64c2dd65f387" />

        <!-- Branch init -->
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_oBlglksnRU69bZzdw0BFFimhCqaDswu6" />
        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="key_live_oBlglksnRU69bZzdw0BFFimhCqaDswu6" />
        <meta-data android:name="io.branch.sdk.TestMode" android:value="false" />

        <activity
            android:name=".ui.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Branch URI Scheme -->
            <intent-filter>
                <!-- If utilizing $deeplink_path please explicitly declare your hosts, or utilize a wildcard(*) -->
                <data android:scheme="yay" android:host="open" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Branch App Links - Live App -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="yay.app.link" />
                <!-- example-alternate domain is required for App Links when the Journeys/Web SDK and Deepviews are used inside your website.  -->
                <data android:scheme="https" android:host="yay-alternate.app.link" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.login.PhoneLoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.region.RegionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.guide.GuideActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.auth.AuthActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.match.IMActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.match.VideoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.match.AudioActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.store.StoreActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.match.MatchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.FollowActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.ProfileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.SettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.NoticeSettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.FeedbackSettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.CountryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.FeedbackActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.AgreementActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.AccountDeleteActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.QuestionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.EmailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.ScoreActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.LevelActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.IncomeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.HistoryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.match.GameListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.match.GameActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.ShareActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.match.ChatFinishActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.notifications.NotificationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.ImagePreviewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.VideoPreviewActivity"
            android:screenOrientation="portrait" />


        <service android:name=".service.SosWebSocketClientService" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>


    </application>

</manifest>